*{
  margin: 0px;
  padding: 0px;
}

body{ 
  padding-left: 20px;
  padding-right: 20px;  
}

body::before{
  content: "";
  position: absolute;
  background-image: url("/img/XXL.jpeg");
  background-size: cover;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1; 
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

header .KI_logo{
  height: 100px;
}

header .ITEP_logo{
  height: 100px;
}

.header__NRC_ITEP{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
  font-family: 'Alegreya Sans', sans-serif;  
}

.header__ITEP_logo{
  display: flex;
  flex-direction: column;
}

header button{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
  padding: 5px;
  border-radius: 10px;
  background-color: aliceblue;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover{
  text-decoration: underline;
}

.menu__links{
  display: flex;
  justify-content:space-around;
  margin-bottom: 50px;
  font-size: 24px;
  font-family: 'Alegreya Sans', sans-serif;
}

.menu__news{
  display: flex;
  justify-content: center;  
}

.menu__news_all_photo{
  display: flex;
  flex-direction: column;
  text-align: end;
  margin-right: 100px;
}

.menu__news_all_photo img{
  width: 800px;
}

.menu__news_main_news{
width: 600px;
}

.menu__news_main_news p{
  text-align: center;
  font-size: 28px;
}

.menu__news_main_news a{
  font-size: 20px;
  
}

.menu__news_main_news_head{
  font-size: large;
  font-family: 'Alegreya Sans', sans-serif
}

.about{
  margin-top: 50px;
  text-align: justify;
}

.about p{
  margin: 50px;
  font-size: 24px;
  font-family: 'Alegreya Sans', sans-serif
}
